
.mt-20{
    margin-top: 20px;
}
footer{
    margin-top: 50px;
    height: 80px;
}
footer>.container ,footer .row
{
height: 100%;
}
.card img{
    transition: 2s linear;
}
.card img:hover{
    transform: scale(1.5);
}
